<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="table">
	<link name="table">
		<visual>
			<origin xyz="0 0 -0.1" rpy="0 0 0" />
			<geometry>
				<box size="0.2 0.2 0.2" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 -0.1" rpy="0 0 0" />
			<geometry>
				<box size="0.2 0.2 0.2" />
			</geometry>
		</collision>
		 <inertial>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <mass value="10" /> 
          	<inertia ixx="0.2" ixy="0.0" ixz="0.0" iyy="0.2" iyz="0.0" izz="0.2" />
         </inertial>
	</link>
</robot>
